<div id="dont-do" class="square-hero-services">
  <div class="container" style="padding: 0.5em">
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6em;
      "
    >
      <h1 class="title-section">
        O QUE AS EMPRESAS<br />ESTÃO <span class="highlight">FAZENDO </span>
      </h1>
    </div>
    <div class="d-flex justify-content-center pb-5">
      <img style="width: 3em" src="assets/logo-edited.png" alt="" />
    </div>


    <div class="service-list-content container" data-aos="fade-down">

      <div data-aos="fade-right" data-aos-duration="1500" class="service-list">
        <div class="ajust-font">
          <p align="left">Demitindo empregada gestante</p>
         <i>•</i>
        </div>
        <div>
          <p>Demitindo por justa causa sem motivo suficiente</p>
         <i>•</i>
        </div>
        <div>
          <p>Humilhando o empregado no ambiente de trabalho</p>
         <i>•</i>
        </div>
        <div>
          <p> Não dando o devido suporte quando o empregado sofre acidente no
            trabalho ou indo trabalhar</p>
         <i>•</i>
        </div>
        <div>
          <p>Não fornecendo os Equipamentos de Proteção para os funcionários</p>
         <i>•</i>
        </div>
        <div>
          <p>Não liberando o FGTS e Seguro desemprego</p>
         <i>•</i>
        </div>
        <div>
          <p>Não pagando adicional para quem entra em câmera fria</p>
         <i>•</i>
        </div>
      </div>

      <div data-aos="fade-right" data-aos-duration="1500" class="service-list">
        <div>
          <p>Não pagando adicional para quem limpa banheiro</p>
         <i>•</i>
        </div>
        <div>
          <p>Não pagando as horas extras que seus empregados fazem</p>
         <i>•</i>
        </div>
        <div>
          <p>Não pagando as verbas rescisórias em 10 dias</p>
         <i>•</i>
        </div>
        <div>
          <p>Não permitindo o funcionário de realizar seu intervalo para descanso
            e refeiçãoCálculos Trabalhistas</p>
         <i>•</i>
        </div>
        <div>
          <p>Pagando salário por fora</p>
         <i>•</i>
        </div>
        <div>
          <p>Se recusando a demitir o empregado</p>
         <i>•</i>
        </div>
        <div>
          <p>Solicitando atividades diversa da que contratou o empregado</p>
         <i>•</i>
        </div>


      </div>
    </div>

    <div class="d-flex justify-content-center bloco pt-5">
      <h2 style="text-align: center; font-size: large">
        <span class="highlight"><strong>IMPORTANTE: </strong> </span> <br />
        <br />
        Se estiver passando por alguma dessas situações, não perca tempo e entre
        em <span class="highlight">contato</span>
      </h2>
    </div>
  </div>
</div>
