/* card template */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto");

html body {
  overflow-x: hidden;
  max-width: 100%;
}

.align-buttons {
  display: flex;
  justify-content: center;
  padding: 4px;
}

#inicio {
  position: relative;
  width: 100%;
  padding-top: 0em;
}

.video-background video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

.video-background img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);

}

.video-background {
  position: sticky;
  width: 100%;
  height: 96vh;
  display: flex;
  justify-content: start;
  align-items: center;
}

.video-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.836);
  z-index: 0;
}

.content {
  position: relative;
  color: wheat;
  text-align: center;
  /* padding-top: 1em; */
}

.content h1{
  text-align: left;
  padding-bottom: 0em !important;
}

.content p {
  text-align: left;
  padding-bottom: 0em !important;
}
#hero-btn {
  display: flex;
  justify-content: left;
}

.ui-button-wpp {
  background-color: #25d366;
}
.ui-button-wpp {
  border-color: #25d366;
}

@media (max-width : 450px) {
  #banner-mobile img {
    width: 100%;
    height: auto;
    transform-origin: center center;
    display: block;
    transition: transform 0.3s ease;
  }

  .content h1{
    text-align: center;
    padding-bottom: 0em !important;
  }

  .content p {
    text-align: center;
    padding-bottom: 0em !important;
  }
  #hero-btn {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .pb-3 {
    font-size: 24px;
    width: 48%;
    font-weight: normal;
  }
}
